.box_menu{
    display: block;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}
nav li{
    display: inline;
}
nav li a{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: white;
}
nav li a:hover{
    background-color: white;
    color: black;
}